 <div class="container">
  <div>
    <ul class="breadcrumb">
      <li><a [routerLink]="['main']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
      <li><a [routerLink]="['activities']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Activities</a></li>
      <li><a [routerLink]="['myJob']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">My Job</a></li>
      <li><a [routerLink]="['myPost']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">My Post</a></li>
      <li><a [routerLink]="['notification']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Notification</a></li>
      <li><a [routerLink]="['newPost']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Add New Post</a></li>
    </ul>
  </div>
  <div class="row">
    <div class="panel panel-default col-sm-2">
      <div class="panel-body">
        <img src='./src/app/images/user.png'/>
        <p>User Name</p>
        <p>useremail@email.com
      </div>
    </div>
    <div class="col-sm-10">
      <router-outlet></router-outlet>

    </div>
  </div>
</div> 

<!-- <div>
  <ul>
    <li *ngFor="let post of postData ?.actionList?.list">{{post.status}} </li>
  </ul>
</div> -->