<div class="panel panel-default">
  <div class="panel-body">
    <span>Search: </span>
    <select class="input-sm">
      <option>Select category</option>
    </select>
    <input type="text" class="input-sm" placeholder="Location">
    <input type="text" class="input-sm" placeholder="Min Fee">
  </div>
</div>
<!--<div *ngIf="posts">
  <ul *ngFor="let post of posts">  
    <li>{{post.title}}
      
    </li>
  </ul>
</div>-->
<h3>post.title</h3>
      <p>post.category- location - duration fee</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <a>...more</a>
      <p>Submitted applications (5)</p>
      <p>Client: clientName <span>***</span>